{% load i18n %}
<div class="d-flex justify-content-center h-50 border">
<div class="spinner-grow text-secondary" role="status" style="width: 3rem; height: 3rem; z-index: 20;"></div>
</div>

<div class="container invisible d-none"
hx-post="{% url 'coverletters_hx_create_object_url'  %}"
hx-trigger="load delay:100ms, ObjectCreatedEvent from:body"
hx-swap="none">

<input type="hidden" name="sessionid" value="{{request.session.session_key}}">

<textarea name="company_text">
{% blocktrans %}
#recluiter_name
#company_name
#street_and_number
#zipcode_city
{% endblocktrans %}
</textarea>

<input type="text" name="location_date" value="{% now 'j. F Y' %}" maxlength="50">

<input name="applying_position"  value="{% trans 'Motivation letter for the job application as #job_position' %}">

<textarea  name="text">
{% blocktrans %}
Dear #recluiter_name,

As a highly skilled ________ with __ years of experience, I am writing to express my intereste in the #job_position at your company. My experience aligns well, as I have worked in __________ for several years with a prominent retailer, and I know I would make a valuable addition to your team."

{% endblocktrans %}

</textarea>
</div>
