<!-- Modal -->
{% load i18n %}
{% load coverletter_tags %}

<div class="modal fade" id="templatesToDownloadModal" tabindex="-1" aria-labelledby="templatesToDownloadModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-fullscreen ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="templatesToDownloadModalLabel">{% trans "Select your template" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container parent">

          <div class="row">
            {% for file in texfiles %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="card">
                    <label>
                      <input type="radio" name="texfileselected_pk" value="{{ file.pk }}" checked>
                      <img  class="card-img-top"  class="img-fluid" src="{{ file.image.url }}">
                    </label>
                    <p class="card-text text-center my-2">{{ file.name }}</p>
                    <ul class="list-group  border-0">
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        {% trans "Credits" %}
                        <span class=""><a href="{{ file.credits_url }}">{{ file.credits }}</a></span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                        {% trans "Downloads" %}
                        <span class="badge bg-primary rounded-pill">{{ file.downloads }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
            {% endfor %}
          </div>


          <div class="modal-footer my-5 ">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
            <button type="submit" class="btn btn-primary">{% trans "Proceed to download" %}</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
