{% load coverletter_tags %}

<div    {% if object.number_of_columns < 7 %}   class="container" {% else %} class="container-fluid" {% endif %}>

  <table class="table table-borderless table-hover ">

    <thead class="table-light">
      <tr>
        <th>Applications</th>
        {% for column in object.columns.all %}
          <th scope="col" >
            <div class="input-group">
              <input class="form-control border-0" type="text" autocomplete="off"
              name="hashtag_{{ column.hashtag.pk }}" value="{{ column.hashtag.name }}"
              hx-post="{{ column.hashtag.save_url }}" hx-trigger="keyup changed delay:2s"
              hx-swap="outerHTML" hx-target="this" spellcheck="false">
              <button type="button" class="btn btn-outline-secondary border-0" name="button"
                hx-post="{{column.delete_url}}" hx-target="#table-related-stuff" hx-swap="innerHTML"
                hx-confirm="Are you sure you wish to delete the column {{column.hashtag.name}}?">
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </th>
        {% endfor %}
        {% if object.number_of_columns < object.max_of_columns %}
          <th scope="col">
            <button class="w-100 h-100 btn btn-outline-secondary" type="button" name="button"
            hx-get="{{ object.add_table_column_url }}" hx-target="#table-related-stuff" hx-swap="innerHTML">+</button>
          </th>
        {% endif %}
      </tr>
    </thead>



    <tbody id="table-body" >
        {% for row in object.rows.all %}
          <tr>
            <td class="text-center">
                  {{ forloop.counter }}
                  <button type="button" class="btn btn-outline-secondary border-0" name="button"
                    hx-post="{{row.delete_url}}" hx-target="#table-related-stuff" hx-swap="innerHTML">
                    <i class="bi bi-trash"></i>
                  </button>
            </td>
            {% for column in object.columns.all %}
                <td>
                    <input class="form-control border-0" type="text" placeholder="Write here..."
                    name="item_{{row.pk}}_{{column.pk}}" spellcheck="false"
                    value="{% get_item_name row=row column=column %}"
                    hx-post="{% url 'coverletters_hx_get_or_create_item_url' pk_column=column.pk pk_row=row.pk %}"
                    hx-trigger="keyup changed delay:1s" hx-swap="none">
                </td>
            {% endfor %}

            {% if object.number_of_columns < object.max_of_columns %}
              <td class="text-center">...</td>
            {% endif %}
          </tr>
        {% endfor %}

          <tr>
            <td>
              {% if object.number_of_rows < object.max_of_rows %}
              <button class="w-100 btn btn-outline-secondary" type="button"
                hx-get="{{ object.add_table_row_url }}"
                hx-swap="outerHTML" hx-target="closest tr">+
              </button>
              {% endif %}
            </td>
            <td colspan="{{object.number_of_columns}}">
              <button  class="btn btn-outline-primary w-100" type="button"
              data-bs-toggle="modal" data-bs-target="#templatesToDownloadModal">Download all</button>
            </td>
            {% if object.number_of_columns < object.max_of_columns %}<td class="text-center">...</td>{% endif %}
          </tr>
    </tbody>

  </table>
  </div>
