{% extends "base.html" %}


{% block content %}

  <form>
    {% csrf_token %}

    <div class="row justify-content-md-center">
      <div class="col-md-8 col-sm-12">
        <h4 class="text-center h4">Cover letter with #hashtags</h4>
        {% include "coverletters/partials/text.html" %}
      </div>
    </div>

    <h4 class="text-center h4 mt-5 mb-3">Fill out your table</h4>
    <div id="table-related-stuff">
      {% include "coverletters/partials/table.html" %}
    </div>

    <button  class="w-100 mt-4 btn btn-lg btn-outline-primary" type="button"  data-bs-toggle="modal" data-bs-target="#templatesToDownloadModal">
       Download all
    </button>
    {% include "coverletters/partials/templates_modal.html" %}

  </form>


{% endblock %}
