{% extends "base.html" %}


{% block content %}

<form >
  {% csrf_token %}
  <h2 class="text-center h2">Write here with #hashtags variables</h2>
  <textarea class="form-control" name="text" cols="40" rows="10" required="" id="id_text" spellcheck="false"
    {% if object %}
      hx-post="{% url 'coverletters_hx_dynamic_save_url' object.id %}"
      hx-trigger="keyup changed delay:1000ms"
    {% else %}
      hx-post="{% url 'coverletters_hx_first_save_url' %}"
      hx-trigger="keyup changed delay:2000ms"
    {% endif %}
    hx-swap="none">

    {{object.text}}
  </textarea>
  <h3 class="text-center h3 mt-5 mb-3">Define your variables</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><input class="border-0" type="text" name="hashtags" value="#address"></th>
        <th scope="col"><input class="border-0" type="text" name="hashtags" value="#name"></th>
        <th scope="col"><input class="border-0" type="text" name="hashtags" value="#company"></th>
        <th scope="col"><input class="border-0" type="text" name="hashtags" value="#position"></th>
        <th scope="col"> <button class="w-100 btn btn-outline-secondary" type="button" name="button">Add column</button>  </th>
      </tr>
    </thead>
    <tbody id="table-body">
      <tr>
        <td><input class="border-0" type="text" name="values" value="" placeholder="Write here..."></td>
        <td><input class="border-0" type="text" name="values" value="" placeholder="Write here..."></td>
        <td><input class="border-0" type="text" name="values" value="" placeholder="Write here..."></td>
        <td><input class="border-0" type="text" name="values" value="" placeholder="Write here..."></td>
        <td></td>
        <div hx-get="{% url 'coverletters_hx_add_body_column_url' %}" hx-trigger="" hx-target="this" hx-swap="outerHTML"></div>
      </tr>
    </tbody>
  </table>

  <button type="button" class="w-100 btn btn-outline-secondary" name="button"
  hx-get="{% url 'coverletters_hx_add_row_url' %}"  hx-swap="beforeend" hx-target="#table-body" >
  Add row</button>
</form>


{% endblock %}
