
<div class="input-group mb-3">
  <input  class="form-control w-100 border-0" placeholder="Your name" id="input_candidate_name" type="text" name="candidate_name" maxlength="50">
  <input  class="form-control w-100 border-0" placeholder="Your job position" id="input_candidate_position" type="text" name="candidate_position" maxlength="50">
  <input  class="form-control w-100 border-0" placeholder="Your email" id="input_candidate_email" type="email" name="candidate_email" maxlength="100">
  <input  class="form-control w-100 border-0" placeholder="Your phone number" id="input_candidate_phone" type="text" name="candidate_phone" maxlength="15">
  <input  class="form-control w-100 border-0" placeholder="Your city, country" id="input_candidate_location" type="text" name="candidate_location" maxlength="25">
  <input  class="form-control w-100 border-0" placeholder="www.any-website.com" id="input_candidate_website" type="url" name="candidate_website" maxlength="100">
</div>
