{% if object %}
  <table class="table">
    <div id="table-messages"></div>

    <thead>
      <tr>
        <th>#</th>
        {% for hashtag in object.hashtags.all %}
          <th scope="col">
            <input class="form-control border-0" type="text" name="hashtag_{{hashtag.pk}}" value="{{ hashtag }}"
            hx-post="{{ hashtag.save_url }}" hx-trigger="keyup changed delay:2s" hx-swap="outerHTML" hx-target="this">
          </th>
        {% endfor %}
        {% if object.number_of_hashtags < object.max_hastags %}
          <th scope="col">
            <button class="w-100 h-100 btn btn-outline-secondary" type="button" name="button"
            hx-get="{{ object.add_table_column_url }}" hx-target="#table-related-stuff" hx-swap="innerHTML">+</button>
          </th>
        {% endif %}
      </tr>
    </thead>

    <tbody id="table-body">
        <input type="hidden" name="number_of_item_rows" value="{{ object.number_of_item_rows }}">
        {% for i in object.list_of_rows %}
        <tr>
          <td>x</td>
          {% for hashtag in object.hashtags.all %}
            <td>
              <input class="form-control border-0" type="text" name="items" value="{{ item.name }}" placeholder="Write here...">
            </td>
          {% endfor %}

          {% if object.number_of_hashtags < object.max_hastags %}
            <td class="text-center">...</td>
          {% endif %}
        </tr>
        {% endfor %}

    </tbody>
  </table>
  <div class="d-grid gap-3">
    {% if object.number_of_item_rows < object.max_item_rows %}
      <button class="w-100 btn btn-outline-secondary" type="button"
        hx-get="{{ object.add_table_row_url }}"
        hx-swap="beforeend" hx-target="#table-body">+
      </button>
    {% endif %}

    <button  class="w-100 btn btn-lg btn-outline-danger" type="button" name="button">
      Download all
    </button>
  </div>



{% endif %}
