{% load coverletter_tags %}
<tr>
  <td>
    <button type="button" class="btn btn-outline-secondary border-0" name="button"
      hx-post="{{row.delete_url}}" hx-target="#table-related-stuff" hx-swap="innerHTML"
      hx-confirm="Are you sure you wish to delete the row?">
      <i class="bi bi-trash"></i>
    </button>
  </td>
  {% for column in object.columns.all %}
      <td>
          <input class="form-control border-0" type="text" placeholder="Write here..."
          name="item_{{row.pk}}_{{column.pk}}"
          value="{% get_item_name row=row column=column %}"
          hx-post="{% url 'coverletters_hx_get_or_create_item_url' pk_column=column.pk pk_row=row.pk %}"
          hx-trigger="keyup changed delay:2s" hx-swap="outerHTML" hx-target="this">
      </td>
  {% endfor %}
  {% if object.number_of_columns < object.max_of_columns %}
    <td class="text-center">...</td>
  {% endif %}
</tr>
<tr>
  <td></td>
  <td colspan="{{object.number_of_columns}}">
    {% if object.number_of_rows < object.max_of_rows %}
      <button class="w-100 btn btn-outline-secondary" type="button"
        hx-get="{{ object.add_table_row_url }}"
        hx-swap="outerHTML" hx-target="closest tr">+
      </button>
    {% else %}
    <button class="w-100 btn btn-outline-danger" type="button" disabled>
      Not possible to add more
    </button>
    {% endif %}
  </td>
  {% if object.number_of_columns < object.max_of_columns %}<td class="text-center">...</td>{% endif %}
</tr>
