{% if object %}
<h3 class="text-center h3 mt-5 mb-3">Fill out your table</h3>
  <table class="table">
    <div id="table-messages"></div>

    <thead>
      <tr>
        <th>#</th>
        {% for hashtag in object.hashtags.all %}
          <th scope="col"><input class="form-control border-0" type="text" name="hashtags" value="{{ hashtag }}"></th>
        {% endfor %}
        {% if object.number_of_hashtags < object.max_hastags %}
          <th scope="col">
            <button class="w-100 h-100 btn btn-outline-secondary" type="button" name="button"
            hx-get="{% url 'coverletters_hx_add_table_hashtag_url' object.pk %}" hx-target="#table-related-stuff" hx-swap="innerHTML">+</button>
          </th>
        {% endif %}
      </tr>
    </thead>

    <tbody id="table-body">
        <input type="hidden" name="number_of_item_rows" value="{{ object.number_of_item_rows }}">
        {% for i in object.list_of_rows %}
        <tr>
          <td>#</td>
          {% for hashtag in object.hashtags.all %}
            <td>
              <input class="form-control border-0" type="text" name="items" value="{{ item.name }}" placeholder="Write here...">
            </td>
          {% endfor %}

          {% if object.number_of_hashtags < object.max_hastags %}
            <td class="text-center">...</td>
          {% endif %}
        </tr>
        {% endfor %}

    </tbody>



  </table>

  {% if object.number_of_item_rows < object.max_item_rows %}
    <button class="w-100 btn btn-outline-secondary"
      hx-get="{% url 'coverletters_hx_add_row_url' object.pk %}"
      hx-swap="beforeend" hx-target="#table-body">+
    </button>
  {% endif %}


{% else %}

  {# <p>Preparing table ...</p> #}
{% endif %}
