{% load my_tags %}
{% if object %}
  <table class="table">
    <div id="table-messages"></div>

    <thead>
      <tr>
        <th>#</th>
        {% for column in object.columns.all %}
          <th scope="col">
            <input class="form-control border-0" type="text"
            name="hashtag_{{ column.hashtag.pk }}" value="{{ column.hashtag.name }}"
            hx-post="{{ column.hashtag.save_url }}" hx-trigger="keyup changed delay:2s" hx-swap="outerHTML" hx-target="this">
          </th>
        {% endfor %}
        {% if object.number_of_columns < object.max_of_columns %}
          <th scope="col">
            <button class="w-100 h-100 btn btn-outline-secondary" type="button" name="button"
            hx-get="{{ object.add_table_column_url }}" hx-target="#table-related-stuff" hx-swap="innerHTML">+</button>
          </th>
        {% endif %}
      </tr>
    </thead>



    <tbody id="table-body">
        <input type="hidden" name="number_of_item_rows" value="{{ object.number_of_item_rows }}">

        {% for row in object.rows.all %}
        <tr>
          <td>x</td>
          {% for column in object.columns.all %}
              <td>
                  <input class="form-control border-0" type="text" placeholder="Write here..."
                  name="item_{{row.pk}}_{{column.pk}}"
                  value="{% get_item_name row=row column=column %}"
                  hx-post="{% url 'coverletters_hx_create_item_url' pk_column=column.pk pk_row=row.pk %}"
                  hx-trigger="keyup changed delay:2s" hx-swap="outerHTML" hx-target="this">
              </td>
          {% endfor %}

          {% if object.number_of_hashtags < object.max_of_columns %}
            <td class="text-center">...</td>
          {% endif %}
        </tr>
        {% endfor %}

    </tbody>
  </table>
  <div class="d-grid gap-3">
    {% if object.number_of_item_rows < object.max_of_rows %}
      <button class="w-100 btn btn-outline-secondary" type="button"
        hx-get="{{ object.add_table_row_url }}"
        hx-swap="beforeend" hx-target="#table-body">+
      </button>
    {% endif %}

    <button  class="w-100 btn btn-lg btn-outline-danger" type="button" name="button">
      Download all
    </button>
  </div>



{% endif %}
