<!-- Modal -->
{% load coverletter_tags %}

<div class="modal fade" id="templatesToDownloadModal" tabindex="-1" aria-labelledby="templatesToDownloadModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="templatesToDownloadModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container parent">

          <ul>
            {% for file in texfiles %}
            <li> {{ file.name }} </li>
            {% endfor %}
          </ul>

          <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                  <label>
                    <input type="radio" name="test" value="small" checked>
                    <img class="img-fluid" src="https://dummyimage.com/250x350/000/fff">
                  </label>
                </div>
              </div>

              <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="card">
                  <label>
                    <input type="radio" name="test" value="small" checked>
                    <img class="img-fluid" src="https://dummyimage.com/250x350/000/fff">
                  </label>
                </div>
              </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="card">
                    <label>
                      <input type="radio" name="test" value="small" checked>
                      <img class="img-fluid" src="https://dummyimage.com/250x350/000/fff">
                    </label>
                  </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                  <div class="card">
                    <label>
                      <input type="radio" name="test" value="small" checked>
                      <img class="img-fluid" src="https://dummyimage.com/250x350/000/fff">
                    </label>
                  </div>
                </div>
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Proceed to download</button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
