{% if object %}
<textarea class="form-control" name="text" cols="40" rows="25" required="" id="id_text" spellcheck="false"
  hx-post="{% url 'coverletters_hx_dynamic_save_url' object.id %}"
  hx-trigger="keyup changed delay:1000ms"
  hx-swap="none">{{object.text}}</textarea>

{% else %}
<textarea class="form-control" name="text" cols="40" rows="10" required="" id="id_text" spellcheck="false"
  hx-post="{% url 'coverletters_hx_first_save_url' %}"
  hx-trigger="load, ObjectCreatedEvent from:body"
  hx-swap="none">Hello #name, I like your
</textarea>
{% endif %}
