{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container my-5">

  <h1 class="text-center">Preparing the Download</h1>
  <div class='progress-wrapper'>
    <div id='progress-bar' class='progress-bar progress-bar-primary'>
      &nbsp;</div>
  </div>
  <div id="progress-bar-message">Waiting for progress to start...</div>

  <div hx-get="{% url 'hx_get_buy_me_a_coffee_partial_url' %}" hx-trigger="load delay:5s" hx-trigger="this" hx-swap="innerHTML" >  </div>





</div>



{% endblock %}


{% block scripts %}


<script src="{% static 'celery_progress/celery_progress.js' %}"></script>

<script type="text/javascript">

document.addEventListener("DOMContentLoaded", function () {
  var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
  CeleryProgressBar.initProgressBar(progressUrl, {
      onSuccess: customSuccess,
      onError: customError,
  });;
});


function customSuccess(progressBarElement, progressBarMessageElement) {
    progressBarElement.innerHTML = (
     '<a  class="btn btn-primary btn-lg my-5"  href="{{ object.download_the_zip_file_url }}"> Download your coverletters <i class="bi bi-download"></i> </a>')
    progressBarElement.style.backgroundColor = '#fff';
    progressBarMessageElement.innerHTML = 'success!'
}
function customError(progressBarElement, progressBarMessageElement) {
    progressBarElement.innerHTML = (
     'there was an error, try again'
    )
    progressBarElement.style.backgroundColor = '#fff';
    progressBarMessageElement.innerHTML = 'error.'
}

</script>


{% endblock %}
