{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "My coverletter" %} # {% endblock %}


{% block content %}
  <form method="post"  action="{{ object.prepare_the_download_url }}" >
    {% csrf_token %}
    {% if object %}
        <div class="container border border-secondary my-5 ">
          <h6 class="display-6 text-center fs-4 text-secondary my-5"><i class="bi bi-file-text"></i>  {% trans "Generalize your cover letter with #hashtags" %} </h6>
              <div class="row justify-content-md-center mt-5">

                <div class="col-md-6 col-sm-12">
                  {% include "partials/company_text.html" %}
                </div>

                <div class="col-md-4 col-sm-12">
                  {% include "partials/candidate_info.html" %}
                </div>
              </div>

              <div class="row my-5">
                <div class="offset-md-1 col-md-6 col-sm-12">
                  {% include "partials/location_date.html" %}
                </div>
              </div>

              <div class="row justify-content-md-center my-5">
                <div class="col-md-10 col-sm-12">
                  {% include "partials/applying_position.html" %}
                </div>
              </div>


              <div class="row justify-content-md-center my-5">
                <div class="col-md-10 col-sm-12">
                  {% include "partials/text.html" %}
                </div>
              </div>
        </div>

        <h6 class="display-6 text-center fs-4 text-secondary mt-5 mb-3"><i class="bi bi-table"></i>  {% trans "Personalize every application by filling out the table" %}</h6>
        <div id="table-related-stuff">
          {% include "partials/table.html" %}
        </div>

        {% include "partials/modal_select_templates.html" %}

      {% else %}

        {% include "partials/create_object.html" %}

      {% endif %}
  </form>


{% endblock %}
