{% extends "base.html" %}
{% load i18n %}


{% block title %} | {% trans "Multiple coverletters in minutes" %} {% endblock %}


{% block content %}


<div class="container my-5 ">
  <div class="px-4 pt-5 my-5 text-center  ">
    <h1 class="display-2 pt-5">{% trans 'Create multiple cover letters' %}  </h1>
    <h3 class="display-6 text-primary pb-5 ">{% trans 'This will save hours' %}</h3>
    <div class="col-lg-6 mx-auto my-5">
      <p class="lead display-6 fs-3 my-4"><i class="bi bi-check-all"></i> {% trans "Download multiple cover letters in minutes" %}</p>
      <p class="lead display-6 fs-3 my-4"><i class="bi bi-check-all"></i> {% trans "No registration required" %}</p>
      <p class="lead display-6 fs-3 my-4"><i class="bi bi-check-all"></i> {% trans "Totally free" %}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-5">
        <a href="{% url 'coverletters_new' %}" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">{% trans "Start now" %}</a>
      </div>
    </div>

  </div>
</div>


{% endblock %}
